#btn{padding-top: 7px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 50px;
    background-color:#37b9c0; 
    

   }

   .right{float: right !important;
z-index: 3;}
   