@import url(../components/btn.css);
@import url(../components/container.css);
@import url(../components/2sides.css);
@import url(../components/input.css);
@import url(../components/responsive.css);

/*Registiration part*/
.register{
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column ;
    text-align: start;
    padding-left: 100px;
    text-align: start;}

.information{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 60%;
    color: grey;}


.checkbox {
    display: flex;
    flex-direction: column;}

#check{display: flex;
flex-direction: row;}

.ok{
padding-left: 10px;
color: gray;}
