@import url(../components/btn.css);
@import url(../components/container.css);
@import url(../components/2sides.css);
@import url(../components/input.css);
@import url(../components/responsive.css);


/*Design  left and right side of menu*/

.container
{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column ;
    text-align: start;
    padding-left: 150px;
    text-align: start;
    padding-bottom: 70%;
    height: 100%;}


    /*Sign up*/

.information{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 60%;
    color: grey;}

.sign-in{
    box-sizing: border-box;
    display: flex;
    flex-direction: column ;
    padding-left: 15%;
    margin-bottom: 10%;
    text-align: start;}

/*Remember me section*/
.checkbox {
    display: flex;
    flex-direction: column;}

#check{
    display: flex;
    flex-direction: row;}

.ok{
    margin-top: 5px;
    padding-left: 10px;
    color: gray;}


.box{margin: 0px;
    padding-top: 100px;
}





#btn{margin-bottom: 18%;}




